<html>

<head>
    <%- include('partials/head') %>

    <link rel="stylesheet" type="text/css" href="/css/pages/index.css">
</head>

<body>
    <div id="popup-holder" style="visibility: hidden; opacity: 0;">
        <div id="popup">
            <form id="upload-form">
                <input type="file" name="photos" accept=".png,.jpeg" value="Photos" multiple><br>
                <div class="upload-buttons">
                    <button type="button" onclick="closePopup(); uploadPhotos('upload-form');"">
                        <i class=" fas fa-check"></i>
                        Upload
                    </button>
                    <button type="button" onclick="closePopup()">
                        <i class="fas fa-times"></i>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <header class="topbar">
        <p class="topbar-item">Nodture</p>
        <button class="topbar-item" onclick="openPopup()">
            <i class="fas fa-file-upload"></i>
            Upload
        </button>
    </header>
    <div id="app">
        <div class="grid">
            <a class="photo" v-for="photo in photos" v-bind:href="'/photos/' + photo"
                v-bind:style="'background:url(/api/photos/' + photo + ');background-position: center center;background-size: cover;'"></a>
        </div>
    </div>
    <script>
        var vue = new Vue({
            el: '#app',
            data() {
                return {
                    photos: null
                }
            },
            mounted() {
                axios
                    .get('/api/photos')
                    .then(response => (this.photos = response.data))
            },
            methods: {
                reloadPhotos: function () {
                    axios
                        .get('/api/photos')
                        .then(response => (this.photos = response.data));
                }
            }
        })

        function closePopup() {
            document.getElementById("popup-holder").style.visibility = "hidden";
            document.getElementById("popup-holder").style.opacity = "0";
        }

        function openPopup() {
            document.getElementById("popup-holder").style.visibility = "visible";
            document.getElementById("popup-holder").style.opacity = "1";
        }
    </script>
</body>

</html>