<html>
    <body>
        <a href="/">Home</a>
        <hr>
        <% if (!locals.error) { %>
            <b>Successfully uploaded </b><%- yes %><br>
            <b>Failed to uploaded </b><%- no %>
        <% } else { %>
            <b>Error: </b><%- error %>
        <% } %>
    </body>
</html>