<html>
    <body>
        <a href="/">Back</a>
        <hr>
        <form class="dropdown-content" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="images" accept=".png,.jpeg" value="Photos" multiple><br>
            <input type="submit" value="Upload">
        </form>
    </body>
</html>